@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Saira+Extra+Condensed');

body{
    /* Insert background image */
    font-family: 'Saira Extra Condensed', sans-serif;
    background: linear-gradient(141deg, #0fb8ad 0%, #235257 51%, #05161d 75%);
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#home{
    margin-top: 150px;
}

#history{
    margin-bottom: 200px;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 25%;
    background-color: #9b9b9349;
    text-align: center;
}

#world-box{
    display: flex;
    justify-content: center;
    overflow: scroll;
}

#world{
    /* display: inline-block; */
    position: fixed;
    transform-origin: center center;
    margin: auto;
    background-image: url(/src/test-image.png);
    background-repeat: no-repeat;
    background-size: auto;
    z-index: -1;
}

#profile-picture h4{
    font-weight: bold;
}

h2{
    font-family: 'Indie Flower', cursive;
}

.content h2{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: #2dc2bd;
    background-color: auto;
    margin: auto auto;
    height: 100px;
    width: 100px; 
    border-radius: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
}

#contact ul{
    list-style: none;
    text-align: center;
}

.logo img{
    width: 50px;
    height: auto;
}

#link-images{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    text-align: center;
}

#linkedin{
    height: 54px;
    width:54px;
}


@media only screen and (min-width: 401px) {

}