@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Saira+Extra+Condensed');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');


body{
    /* Insert background image */
    background: linear-gradient(141deg, #0fb8ad 0%, #235257 51%, #05161d 75%);
}

p {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: rgb(199, 199, 199);
}

#name{
    position: fixed;
    z-index: -1;
    width: 40%;
}

#title{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
}

.cloud-wrapper{
    display: flex;
    justify-content: space-evenly;
    z-index: -2;
}

#plane{
    position: fixed;
    z-index: -1;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

#home{
    margin-top: 150px;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 25%;
    background-color: #9b9b9349;
    text-align: center;
    margin: 30px;
}

#world-box{
    display: flex;
    justify-content: center;
    overflow: scroll;
}

#world{
    /* display: inline-block; */
    position: fixed;
    transform-origin: center center;
    margin: auto;
    /* background-image: url(/src/test-image.png); */
    background-repeat: no-repeat;
    background-size: auto;
    z-index: -1;
}

#profile-picture h4{
    font-weight: bold;
}

h2{
    font-family: 'Indie Flower', cursive;
}

.content h2{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: #2dc2bd;
    background-color: auto;
    margin: auto auto;
    height: 100px;
    width: 100px; 
    border-radius: 50px;
    text-align: center;
    color: #ffffff;
}

#contact ul{
    list-style: none;
    text-align: center;
}

#link-images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    text-align: center;
}

#logos{
    display: inline-block;
    list-style: none;
    text-align: center;
    padding: 0;
}
#logos li{
    display: inline-block;
} 
#logos img{
    width: 50px;
    height: auto;
}

.icon-bar {
    position: fixed;
    top: 70%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 5px;
    transition: all 0.3s ease;
    color: #ffffff;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: #000;
}

.facebook {
    background: #3B5998;
    color: #ffffff;
}

.twitter {
    background: #55ACEE;
    color: #ffffff;
}

.google {
    background: #dd4b39;
    color: #ffffff;
}

.linkedin {
    background: #007bb5;
    color: #ffffff;
}

.phone {
    background: #217039;
    color: #ffffff;
}

.github {
    background: #eb8e42;
    color: #ffffff;
}

@media only screen and (min-width: 401px) {

}

@media only screen and (min-width: 1000px) {
    
    #name{
        position: fixed;
        display: inline-block;
        width: auto;
        height: 400px;
        align-content: center;
    }

    .cloud-wrapper{
        display: flex;
        justify-content: space-evenly;
        z-index: -2;
    }

    #home{
        margin-top: 200px;
    }
}